@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost";
  outline: none;
}
*::-moz-selection {
  background-color: var(--Pink);
  color: #fff;
}
*::selection {
  background-color: var(--Pink);
  color: #fff;
}

:root {
  --white-color: #FFF;
  --black-color: #192138;
  --Pink: #FF1DA3;
  --gray: #636A81;
  --purple: #8010E4;
}

header {
  background: url(./imgs/hero\ bg\ 1.png) center;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.second-bg-img img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  z-index: 9;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  overflow: hidden;
}
.main-nav .nav-left a {
  text-decoration: none;
}
.main-nav .nav-left a h1 {
  color: var(--white-color);
  font-weight: 700;
}
.main-nav .nav-mid ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.main-nav .nav-mid ul li a {
  padding: 0.5rem;
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  transition: 200ms ease;
  line-height: normal;
  border-radius: 20px;
}
.main-nav .nav-mid ul li a:hover {
  background-color: var(--Pink);
  border-radius: 20px;
  border: none;
}
.main-nav .nav-mid ul li:first-child a {
  background-color: var(--Pink);
  padding: 0.3rem 1rem;
  border-radius: 20px;
  border: none;
  font-weight: 500;
}
.main-nav .nav-mid ul li:first-child a:hover {
  opacity: 0.85;
}
.main-nav .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.main-nav .nav-right a i {
  color: var(--white-color);
  font-size: 1.25rem;
}
.main-nav .nav-right i {
  color: var(--white-color);
  font-size: 1.25rem;
}
.main-nav .nav-right button {
  color: var(--white-color);
  width: 10.6rem;
  height: 2.5rem;
  border-radius: 20px;
  background: var(--Pink);
  border: none;
  font-weight: 500;
}
.main-nav .nav-right button:hover {
  opacity: 0.85;
}

.page1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.page1 .info {
  z-index: 999;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
  padding-left: 1rem;
}
.page1 .info h1 {
  font-size: 4.6rem;
  color: var(--white-color);
  padding-left: 1rem;
  font-weight: 900;
}
.page1 .info p {
  color: var(--white-color);
  opacity: 0.7;
  font-weight: 500;
  font-size: 1.3rem;
  padding-left: 1rem;
}
.page1 .info .btns {
  display: flex;
  gap: 1.3rem;
  padding-left: 1rem;
}
.page1 .info .btns button {
  color: var(--white-color);
  width: 10.6rem;
  height: 2.5rem;
  border-radius: 20px;
  background: var(--Pink);
  border: none;
  font-weight: 500;
  border: 2px solid var(--Pink);
  transition: 200ms ease;
}
.page1 .info .btns button:hover {
  opacity: 0.85;
}
.page1 .info .btns button:nth-child(2) {
  background-color: transparent;
  border: 2px solid var(--Pink);
  color: var(--Pink);
  transition: 200ms ease;
}
.page1 .info .btns button:nth-child(2):hover {
  background-color: var(--Pink);
  font-weight: 600;
  color: var(--white-color);
}

.page1-img img {
  width: 45rem;
}

@media screen and (max-width: 1500px) {
  .page1-img img {
    width: 44rem;
  }
}
@media screen and (max-width: 1400px) {
  .page1-img img {
    width: 40rem;
  }
}
@media screen and (max-width: 1300px) {
  .page1-img img {
    width: 38rem;
  }
}
@media screen and (max-width: 1200px) {
  .page1-img img {
    width: 34rem;
  }
  .page1 .info h1 {
    font-size: 4rem;
  }
  .page1 .info p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 992px) {
  .page1-img img {
    width: 26rem;
  }
  .page1 {
    height: unset;
  }
  .page1 .info h1 {
    font-size: 3.8rem;
  }
  .page1 .info p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 800px) {
  .page1-img img {
    width: 23rem;
  }
  .page1 {
    height: 65vh;
  }
  .page1 .info h1 {
    font-size: 3rem;
  }
  .page1 .info p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .page1-img img {
    width: 22rem;
  }
  .page1 {
    height: unset;
  }
  .page1 .info h1 {
    font-size: 2.5rem;
  }
  .page1 .info p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .page1-img img {
    width: 29rem;
  }
  .page1 {
    height: unset;
    margin-top: 5rem;
    flex-direction: column;
  }
  .page1 .info {
    padding-left: unset;
  }
  .page1 .info h1 {
    font-size: 2.5rem;
  }
  .page1 .info p {
    font-size: 1rem;
  }
  .btns {
    padding-left: unset;
  }
}
@media screen and (max-width: 400px) {
  .page1-img img {
    width: 22rem;
  }
  .page1 {
    height: unset;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .page1 .info {
    padding-left: unset;
    gap: 1.5rem;
  }
  .page1 .info h1 {
    font-size: 2.5rem;
  }
  .page1 .info p {
    font-size: 1rem;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 390px) {
  .page1 .info {
    margin-bottom: 2rem;
  }
  .page1 .info h1 {
    font-size: 2.5rem;
  }
  .page1 .info p {
    font-size: 1rem;
    font-weight: 400;
  }
  .page1 .info .btns {
    gap: 1rem;
  }
}
@media screen and (max-width: 370px) {
  .page1 .info .btns {
    gap: 0.3rem;
  }
}
@media screen and (max-width: 360px) {
  .page1 .info .btns {
    margin-right: 1rem;
  }
  .page1 .info .btns button {
    width: 9rem;
    height: 2.45rem;
  }
}
@media screen and (max-width: 300px) {
  .page1 .info .btns button {
    width: 8.5rem;
    height: 2.45rem;
  }
}
@media screen and (max-width: 280px) {
  .page1 .info .btns {
    flex-direction: column;
    gap: 1rem;
  }
  .page1 .info .btns button {
    width: 100%;
    height: 2.45rem;
  }
}
.pagetwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page2 .left-img {
  width: 100%;
  position: absolute;
  z-index: -11;
  filter: blur(5px);
  bottom: 12rem;
  margin-left: -5rem;
}
.page2 .left-img img {
  max-width: 15rem;
  width: 100%;
}

.page2-main {
  padding-top: 5rem;
}
.page2-main .head h1 {
  text-transform: capitalize;
  font-size: 3rem;
  color: var(--black-color);
  font-weight: 700;
}
.page2-main .info {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.page2-main .info .left {
  margin-right: -10rem;
  z-index: 1;
}
.page2-main .info .left img {
  max-width: 40rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 1.2rem;
}
.page2-main .info .right {
  position: relative;
}
.page2-main .info .right img {
  max-width: 40rem;
  width: 100%;
  border-radius: 1.2rem;
}
.page2-main .info .right .skills {
  position: absolute;
  top: 5rem;
  left: 13rem;
}
.page2-main .info .right .skills ul {
  list-style: none;
}
.page2-main .info .right .skills ul li {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.page2-main .info .right .skills ul li h5 {
  font-size: 0.8rem;
  color: var(--black-color);
  opacity: 0.7;
}
.page2-main .info .right .skills ul li:first-child {
  color: var(--Pink);
  font-weight: bold;
}
.page2-main .info .right .skill-img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: -1;
}
.page2-main .info .right .skill-img img {
  height: 12rem;
}

@media screen and (max-width: 992px) {
  .page2-main .info .left {
    margin-right: -7rem;
  }
  .page2-main .info .right img {
    height: 40rem;
  }
  .page2-main .info .right .skills {
    left: 8rem;
  }
  .page2-main .info .right .skill-img img {
    height: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .page2-main .info {
    align-items: unset;
  }
  .page2-main .info .right {
    position: relative;
  }
  .page2-main .info .right .skills {
    top: 8rem;
  }
}
@media screen and (max-width: 500px) {
  .page2-main {
    padding-top: 3rem;
  }
  .page2-main .info .left {
    margin-right: unset;
    position: absolute;
  }
  .page2-main .info .left img {
    max-width: 29.7rem;
  }
  .page2-main .info .right img {
    max-width: 50rem;
    height: 50rem;
    width: 100%;
  }
  .page2-main .info .right .skills {
    top: 20rem;
    left: 3rem;
  }
  .page2-main .info .right .skill-img {
    z-index: -1;
    right: 2rem;
    bottom: 2rem;
    left: unset;
    top: unset;
  }
  .page2-main .info .right .skill-img img {
    height: 10rem;
  }
  .page2-main .head h1 {
    font-size: 2.5rem;
  }
  .page2 .left-img {
    bottom: 20rem;
    filter: blur(9px);
  }
}
@media screen and (max-width: 400px) {
  .page2-main .info .right .skills {
    top: 15rem;
  }
  .page2-main .info .right .skill-img {
    z-index: -1;
  }
  .page2-main .info .right .skill-img img {
    max-width: 8rem;
    height: unset;
    width: 100%;
  }
}
.page3 {
  background: url(./imgs/pg3BgColor.png) center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.page3 .pg3-img {
  position: absolute;
}
.page3 .ph3-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 2rem;
}
.page3 .ph3-c .pg3-main {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.page3 .ph3-c .pg3-main .head h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  color: var(--white-color);
  font-weight: 700;
}
.page3 .ph3-c .pg3-main .head p {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.7;
}
.page3 .ph3-c .pg3-main p {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  .page3 .ph3-c .pg3-main .head h1 {
    font-size: 2.5rem;
  }
  .page3 .ph3-c .pg3-main .head p {
    font-size: 1.1rem;
  }
}
.pg4 {
  padding: 5rem 0;
  position: relative;
}
.pg4 .R {
  right: 0;
  width: 17%;
  bottom: 0;
}
.pg4 .L {
  left: 0;
  bottom: 0;
  width: 17%;
}
.pg4 .pg4img {
  position: absolute;
  z-index: -1;
}
.pg4 .pg4img img {
  width: 100%;
}
.pg4 .pg4-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.pg4 .pg4-main .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
  width: 100%;
  text-align: right;
  align-items: end;
}
.pg4 .pg4-main .left h1 {
  font-size: 3rem;
  color: var(--black-color);
  font-weight: 700;
}
.pg4 .pg4-main .left p {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.pg4 .pg4-main .left button {
  color: var(--white-color);
  width: 12.6rem;
  height: 2.5rem;
  border-radius: 20px;
  background: var(--Pink);
  border: 2px solid var(--Pink);
  font-weight: 500;
  transition: 200ms ease;
}
.pg4 .pg4-main .left button:hover {
  background-color: transparent;
  color: var(--Pink);
  opacity: 0.85;
  font-weight: bold;
}
.pg4 .pg4-main .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
  width: 100%;
}
.pg4 .pg4-main .right h1 {
  font-size: 3rem;
  color: var(--black-color);
  font-weight: 700;
}
.pg4 .pg4-main .right p {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.pg4 .pg4-main .right button {
  color: var(--Pink);
  width: 12.6rem;
  height: 2.5rem;
  border-radius: 20px;
  background: transparent;
  border: none;
  font-weight: 500;
  border: 2px solid var(--Pink);
  transition: 200ms ease;
}
.pg4 .pg4-main .right button:hover {
  background-color: var(--Pink);
  color: var(--white-color);
  font-weight: 600;
}
.pg4 .pg4-main .hr {
  height: 15rem;
  width: 0.1rem;
  background-color: rgba(128, 128, 128, 0.294);
}

@media screen and (max-width: 992px) {
  .pg4 .R {
    top: 15rem;
    width: 15rem;
  }
  .pg4 .L {
    width: 15rem;
    bottom: 5rem;
  }
  .pg4 .pg4-main .left {
    text-align: unset;
    align-items: unset;
    padding-bottom: 2rem;
  }
  .pg4 .pg4-main .hr {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pg4 .R {
    top: 17rem;
    width: 17rem;
  }
  .pg4 .L {
    width: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .pg4 .R {
    width: 13rem;
  }
  .pg4 .L {
    filter: blur(4px);
  }
}
@media screen and (max-width: 430px) {
  .pg4 .R {
    width: 10rem;
  }
  .pg4 .L {
    left: 0;
    bottom: 0rem;
    filter: blur(7px);
  }
}
@media screen and (max-width: 330px) {
  .pg4 .R {
    width: 8rem;
    filter: blur(4px);
  }
  .pg4 .L {
    filter: blur(7px);
  }
}
.pg5 {
  background: url(./imgs/pg5Bg.png) center;
  background-size: cover;
  padding: 1rem 0;
}
.pg5 .container .pg5-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pg5 .container .pg5-main img {
  height: 25rem;
}
.pg5 .container .pg5-main .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.pg5 .container .pg5-main .left h2 {
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 700;
}
.pg5 .container .pg5-main .left button {
  width: 12.6rem;
  height: 2.7rem;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  transition: 200ms ease;
  color: var(--white-color);
  box-shadow: 0px 24px 44px -10px rgba(0, 0, 0, 0.35);
  background: linear-gradient(59deg, #8010E4 30.59%, #FF1DA3 100%);
}
.pg5 .container .pg5-main .left button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 992px) {
  .pg5 .container .pg5-main img {
    height: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .pg5 .container .pg5-main img {
    height: 17rem;
  }
  .pg5 .container .pg5-main .left h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .pg5 .container .pg5-main img {
    height: 13rem;
  }
  .pg5 .container .pg5-main .left h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 430px) {
  .pg5 .container .pg5-main img {
    height: 10rem;
  }
  .pg5 .container .pg5-main .left h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .pg5 .container .pg5-main img {
    height: 8rem;
  }
  .pg5 .container .pg5-main .left h2 {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */