@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost';
    outline: none;

    &::selection {
        background-color: var(--Pink);
        color: #fff;
    }
}

@mixin media($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

:root {
    --white-color: #FFF;
    --black-color: #192138;
    --Pink: #FF1DA3;
    --gray: #636A81;
}

header {
    background: url(./imgs/hero\ bg\ 1.png) center;
    background-size: cover;
    // height: 100vh;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.second-bg-img {
    img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

nav {
    width: 100%;
    z-index: 9;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    overflow: hidden;

    .nav-left {
        a {
            text-decoration: none;

            h1 {
                color: var(--white-color);
                font-weight: 700;
            }
        }
    }

    .nav-mid {
        ul {
            display: flex;
            list-style: none;
            gap: 3rem;

            li {
                a {
                    padding: .5rem;
                    color: var(--white-color);
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 400;
                    transition: 200ms ease;
                    line-height: normal;
                    border-radius: 20px;

                    &:hover {
                        background-color: var(--Pink);
                        border-radius: 20px;
                        border: none;
                    }
                }

                &:first-child {
                    a {
                        background-color: var(--Pink);
                        padding: .3rem 1rem;
                        border-radius: 20px;
                        border: none;
                        font-weight: 500;

                        &:hover {
                            opacity: .85;
                        }
                    }
                }
            }
        }
    }

    .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        a {
            i {
                color: var(--white-color);
                font-size: 1.25rem;
            }
        }

        i {
            color: var(--white-color);
            font-size: 1.25rem;
        }

        button {
            color: var(--white-color);
            width: 10.6rem;
            height: 2.5rem;
            border-radius: 20px;
            background: var(--Pink);
            border: none;
            font-weight: 500;

            &:hover {
                opacity: .85;
            }
        }
    }
}



// ===============nav End==============

.page1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .info {
        z-index: 999;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        gap: 1rem;
        padding-left: 1rem;

        h1 {
            font-size: 4.6rem;
            color: var(--white-color);
            padding-left: 1rem;
            font-weight: 900;
        }

        p {
            color: var(--white-color);
            opacity: .7;
            font-weight: 500;
            font-size: 1.3rem;
            padding-left: 1rem;
        }

        .btns {
            display: flex;
            gap: 1.3rem;
            padding-left: 1rem;

            button {
                color: var(--white-color);
                width: 10.6rem;
                height: 2.5rem;
                border-radius: 20px;
                background: var(--Pink);
                border: none;
                font-weight: 500;
                border: 2px solid var(--Pink);
                transition: 200ms ease;

                &:hover {
                    opacity: .85;
                }
            }

            button:nth-child(2) {
                background-color: transparent;
                border: 2px solid var(--Pink);
                color: var(--Pink);
                transition: 200ms ease;

                &:hover {
                    background-color: var(--Pink);
                    font-weight: 600;
                    color: var(--white-color);
                }
            }
        }
    }
}

.page1-img {
    img {
        width: 45rem;
    }
}

@include media(1500px) {
    .page1-img {
        img {
            width: 44rem;
        }
    }
}

@include media(1400px) {
    .page1-img {
        img {
            width: 40rem;
        }
    }
}

@include media(1300px) {
    .page1-img {
        img {
            width: 38rem;
        }
    }
}

@include media(1200px) {
    .page1-img {
        img {
            width: 34rem;
        }
    }

    .page1 {
        .info {
            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}

@include media(992px) {
    .page1-img {
        img {
            width: 26rem;
        }
    }

    .page1 {
        height: unset;

        .info {
            h1 {
                font-size: 3.8rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

}

@include media(800px) {
    .page1-img {
        img {
            width: 23rem;
        }
    }

    .page1 {
        height: 65vh;

        .info {
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

}

@include media(768px) {

    .page1-img {
        img {
            width: 22rem;
        }
    }

    .page1 {
        height: unset;

        .info {
            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@include media(700px) {

    .page1-img {
        img {
            width: 29rem;
        }
    }

    .page1 {
        height: unset;
        margin-top: 5rem;
        flex-direction: column;

        .info {
            padding-left: unset;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .btns {
        padding-left: unset;
    }
}

@include media(400px) {

    .page1-img {
        img {
            width: 22rem;
        }
    }

    .page1 {
        height: unset;
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .info {
            padding-left: unset;
            gap: 1.5rem;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
                padding: 0 2rem;
            }
        }
    }
}

@include media(390px) {

    .page1 {

        .info {
            margin-bottom: 2rem;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
                font-weight: 400;
            }

            .btns {
                gap: 1rem;
            }
        }
    }
}

@include media(370px) {

    .page1 {
        .info {
            .btns {
                gap: .3rem;
            }
        }
    }
}

@include media(360px) {

    .page1 {
        .info {
            .btns {
                margin-right: 1rem;

                button {
                    width: 9rem;
                    height: 2.45rem;
                }
            }
        }
    }
}

@include media(300px) {
    .page1 {
        .info {
            .btns {
                button {
                    width: 8.5rem;
                    height: 2.45rem;
                }
            }
        }
    }
}

@include media(280px) {

    .page1 {
        .info {
            .btns {
                flex-direction: column;
                gap: 1rem;

                button {
                    width: 100%;
                    height: 2.45rem;
                }
            }
        }
    }
}

// ------Page1 End--------

.pagetwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .left-img {
        width: 100%;
        position: absolute;
        z-index: -11;
        filter: blur(5px);
        bottom: 12rem;
        margin-left: -5rem;

        img {
            max-width: 15rem;
            width: 100%;
        }
    }
}

.page2-main {
    padding-top: 5rem;

    .head {
        h1 {
            text-transform: capitalize;
            font-size: 3rem;
            color: var(--black-color);
            font-weight: 700;
        }
    }

    .info {
        display: flex;
        align-items: center;
        margin: 2rem 0;

        .left {
            margin-right: -10rem;
            z-index: 1;

            img {
                max-width: 40rem;
                width: 100%;
                background-color: rgb(0, 0, 0);
                border-radius: 1.2rem;
            }
        }

        .right {
            position: relative;

            img {
                max-width: 40rem;
                width: 100%;
                border-radius: 1.2rem;
            }

            .skills {
                position: absolute;
                top: 5rem;
                left: 13rem;

                ul {
                    list-style: none;

                    li {
                        margin: 1rem 0;
                        font-size: 1.2rem;
                        font-weight: 500;
                        text-transform: capitalize;

                        h5 {
                            font-size: .8rem;
                            color: var(--black-color);
                            opacity: .7;
                        }
                    }
                }
            }

            .skills ul li:first-child {
                color: var(--Pink);
                font-weight: bold;
            }


            .skill-img {
                position: absolute;
                top: 1rem;
                right: 1rem;
                z-index: -1;

                img {
                    height: 12rem;
                }
            }
        }
    }
}

@include media(992px) {

    .page2-main {

        .info {

            .left {
                margin-right: -7rem;
            }

            .right {

                img {
                    height: 40rem;
                }

                .skills {
                    left: 8rem;
                }

                .skill-img {

                    img {
                        height: 7rem;
                    }
                }
            }
        }
    }
}

@include media(768px) {

    .page2-main {

        .info {
            align-items: unset;

            .right {
                position: relative;

                .skills {
                    top: 8rem;
                }
            }
        }
    }
}

@include media(500px) {

    .page2-main {
        padding-top: 3rem;

        .info {

            .left {
                margin-right: unset;
                position: absolute;

                img {
                    max-width: 29.7rem;
                }
            }

            .right {

                img {
                    max-width: 50rem;
                    height: 50rem;
                    width: 100%;
                }

                .skills {
                    top: 20rem;
                    left: 3rem;
                }

                .skill-img {
                    z-index: -1;
                    right: 2rem;
                    bottom: 2rem;
                    left: unset;
                    top: unset;

                    img {
                        height: 10rem;
                    }
                }
            }
        }

        .head {
            h1 {
                font-size: 2.5rem;
            }
        }
    }

    .page2 {

        .left-img {
            bottom: 20rem;
            filter: blur(9px);
        }
    }
}

@include media(400px) {

    .page2-main {
        .info {
            .right {
                .skills {
                    top: 15rem;
                }

                .skill-img {
                    z-index: -1;

                    img {
                        max-width: 8rem;
                        height: unset;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// ============page2 end=======

.page3 {
    background: url(./imgs/pg3BgColor.png) center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -1;

    .pg3-img {
        position: absolute;

        img {}
    }

    .ph3-c {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem 2rem;

        .pg3-main {
            max-width: 60rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .head {

                h1 {
                    text-transform: capitalize;
                    font-size: 3.5rem;
                    color: var(--white-color);
                    font-weight: 700;
                }

                p {
                    color: var(--white-color);
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    opacity: .7;
                }
            }

            p {
                color: var(--white-color);
                font-size: 1rem;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
    }
}

@include media(500px) {
    .page3 {
        .ph3-c {
            .pg3-main {
                .head {
                    h1 {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

// ===========page3 end==========

.pg4 {
    padding: 4rem 0;
    position: relative;
    .R{
        right: 0;
        bottom: 0;
    }
    .L{
        left: 0;
        bottom: 0;
    }
    .pg4img{
        position: absolute;
        max-width: 15rem;
        z-index: -1;
        img{
            width: 100%;
        }
    }
    .pg4-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 25rem;
            width: 100%;
            text-align: right;
            align-items: end;

            h1 {
                text-transform: capitalize;
                font-size: 3rem;
                color: var(--black-color);
                font-weight: 700;
            }

            p {
                color: var(--gray);
                font-size: 1rem;
                font-weight: 500;
                text-transform: capitalize;
            }

            button {
                color: var(--white-color);
                width: 12.6rem;
                height: 2.5rem;
                border-radius: 20px;
                background: var(--Pink);
                border: 2px solid var(--Pink);
                font-weight: 500;
                transition: 200ms ease;
                &:hover {
                    background-color: transparent;
                    color:var(--Pink);
                    opacity: .85;
                font-weight:bold;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 25rem;
            width: 100%;

            h1 {
                text-transform: capitalize;
                font-size: 3rem;
                color: var(--black-color);
                font-weight: 700;
            }

            p {
                color: var(--gray);
                font-size: 1rem;
                font-weight: 500;
                text-transform: capitalize;
            }

            button {
                color: var(--Pink);
                width: 12.6rem;
                height: 2.5rem;
                border-radius: 20px;
                background: transparent;
                border: none;
                font-weight: 500;
                border: 2px solid  var(--Pink);
                transition: 200ms ease;
                &:hover {
                    background-color: var(--Pink);
                    color: var(--white-color);
                    font-weight: 600;
                }
            }
        }

        .hr {
            height: 15rem;
            width: .1rem;
            background-color: rgba(128, 128, 128, 0.294);
        }
    }
}


@include media(992px) {

    .pg4 {
        .pg4-main {
            .left {
                text-align: unset;
                align-items: unset;
                padding-bottom: 2rem;
            }
            .hr {
                display: none;
            }
        }
    }
}